// https://github.com/sveltejs/eslint-plugin-svelte3
{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"extends": ["eslint:recommended", "prettier"],
	"plugins": ["svelte3", "@typescript-eslint"],
	"ignorePatterns": ["**/*.d.ts"],
	"overrides": [
		{ "files": ["*.svelte"], "processor": "svelte3/svelte3" },
		{ "files": ["**/*.{ts,tsx,js,jsx}"] }
	],
	"parserOptions": {
		"sourceType": "module",
		"ecmaVersion": 2020
	},
	"env": {
		"browser": true,
		"es6": true,
		"node": true
	},
	"rules": {
		"no-undef": "off"
	},
	"settings": {
		"svelte3/typescript": true
	}
}
