@tailwind base;
@tailwind components;
@tailwind utilities;

summary.no-marker {
	@apply outline-none list-none;
}
summary.no-marker::-webkit-details-marker {
	@apply hidden;
}

/* .setting div {
	color: var(--figma-color-text) !important;
}

.setting button {
	height: 36px !important;
}

.input input,
.setting button {
	height: 36px !important;
}

.content button {
	background-color: var(--figma-color-bg-secondary) !important;
	border-radius: 4px !important;
	height: 40px !important;
	margin-top: 8px !important;
}

.content button:hover {
	background-color: var(--figma-color-bg-tertiary) !important;
}

.content button:focus {
	outline: 1px solid var(--figma-color-border-selected);
}

.content button .label,
.content button .placeholder {
	color: var(--figma-color-text) !important;
	margin-top: 0 !important;
}

.content button .caret svg path {
	fill: var(--figma-color-text-secondary) !important;
}

.content button:hover .caret svg path {
	fill: var(--figma-color-text) !important;
}

.content ul li .label {
	color: var(--figma-color-bg) !important;
}

.figma-dark .content ul li .label {
	color: var(--figma-color-text) !important;
} */

input[type='text'],
select,
textarea {
	@apply text-sm appearance-none bg-figma-bg-secondary text-figma-text p-2 rounded border border-solid border-figma-bg-secondary !outline-none hover:text-figma-text-hover placeholder-shown:hover:text-figma-text-hover invalid:required:border-figma-border-danger selection:text-figma-text-selected selection:bg-figma-bg-selected placeholder:text-2xs placeholder:text-figma-text-tertiary placeholder:border-transparent placeholder-shown:text-figma-text placeholder-shown:border-figma-border focus:placeholder-shown:border-figma-border-selected disabled:hover:border-transparent active:text-figma-text active:border-figma-border-selected focus:text-figma-text focus:border-figma-border-selected disabled:text-figma-text-disabled invalid:border-figma-border-danger-strong;
}

option {
	@apply w-full;
}
